.div-table-form {
    display: table;
    width: 100%;
    border-spacing: 5px;
    /* cellspacing:poor IE support for  this */
}

.div-table-row-form {
    display: table-row;
    width: auto;
    clear: both;
}

.div-table-col-form {
    float: left;
    /* fix for  buggy browsers */
    display: table-column;
    width: 50%;
}


